{% extends 'base.html.twig' %}

{% block body %}
    <h1>Mon Profil</h1>

    <div class="card" style="width: 18rem;">
        {% if user.profileImage %}
            <img src="{{ asset('uploads/profiles/' ~ user.profileImage) }}" class="card-img-top" alt="Photo de profil">
        {% else %}
            <img src="{{ asset('uploads/profiles/default.jpg') }}" class="card-img-top" alt="Photo de profil par défaut">
        {% endif %}

        <div class="card-body">
            <p><strong>Prénom :</strong> {{ user.firstname }}</p>
            <p><strong>Nom :</strong> {{ user.lastname }}</p>
            <p><strong>Email :</strong> {{ user.email }}</p>
            <p><strong>Date de création :</strong> {{ user.createdAt|date('d/m/Y H:i') }}</p>
        </div>
    </div>
{% endblock %}
