{% extends 'base.html.twig' %}

{% block body %}
    <h1>Créer une nouvelle Figurine</h1>

    {{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }}
        {{ form_row(form.title) }}
        {{ form_row(form.description) }}
        {{ form_row(form.imageFile) }}

        <button class="btn btn-primary">Enregistrer</button>
    {{ form_end(form) }}
{% endblock %}
